<!-- Page Wrapper -->
<main class="main-container">
	<!-- home Page container -->
	<div class="container-fluid mg-t-30 ">
		<!-- Page Heading -->
		<div class="az-dashboard-one-title">
			<h2 class="page-title mb-0"> Questions</h2>
		</div>
		<!-- close Page Heading -->
		<div class="row mb-4">
			<div class="col-lg-3">
				<div class="select-box">
					<label>Select Subject</label>
					<select class="form-control select2-no-search border-0 p-0">
						<option label="Zenudy"></option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="select-box">
					<label>Select Chapter</label>
					<select class="form-control select2-no-search border-0 p-0">
						<option label="Chapter name"></option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="select-box">
					<label>Select Topic</label>
					<select class="form-control select2-no-search border-0 p-0">
						<option label="Topic name"></option>
					</select>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="select-box">
					<label>Select Sub Topic</label>
					<select class="form-control select2-no-search border-0 p-0">
						<option label="Sub Topic name"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-lg-12">               
				<div class="form-inline">
					<input type="text" class="form-control col-3 mr-sm-3 ">
					<input type="text" class="form-control col-3 mr-sm-3">
					<button class="btn btn-primary">Search</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="table-container">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">S.No. </th>
								<th scope="col"> Question Details</th>
								<th scope="col">Subject</th>
								<th scope="col">Chapter</th>
								<th scope="col">Topic</th>
								<th scope="col">Sub Topic</th>
								<th scope="col">Question type</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td data-label="S.No.">
									1
								</td>
								<td data-label="Question Details">
									<span class="text-secondary">Read this sentence. </span>
									<p>
										It is also called the valley quail.<br/>
										What is the correct way to shorten the underlined words? 
									</p>
								</td>
								<td data-label="Subject">Zenudy</td>
								<td data-label="Chapter">Chapter name</td>
								<td data-label="Topic">Topic name</td>
								<td data-label="Sub Topic">Subtopic name</td>
								<td data-label="Question type">Topic name</td>
								<td data-label="">
									<div class="dropdown no-arrow">
										<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="dots upshift ">
												<img src="assets/img/dots.svg" width="5" ></span>
											</a>
											<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
												<div class="dropdown-header">Dropdown Header:</div>
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" href="#">Something else here</a>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td data-label="S.No.">
										1
									</td>
									<td data-label="Question Details">
										<span class="text-secondary">Read this sentence. </span>
										<p>
											It is also called the valley quail.<br/>
											What is the correct way to shorten the underlined words? 
										</p>
									</td>
									<td data-label="Subject">Zenudy</td>
									<td data-label="Chapter">Chapter name</td>
									<td data-label="Topic">Topic name</td>
									<td data-label="Sub Topic">Subtopic name</td>
									<td data-label="Question type">Topic name</td>
									<td data-label="">
										<div class="dropdown no-arrow">
											<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="dots upshift ">
													<img src="assets/img/dots.svg" width="5" ></span>
												</a>
												<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
													<div class="dropdown-header">Dropdown Header:</div>
													<a class="dropdown-item" href="#">Action</a>
													<a class="dropdown-item" href="#">Another action</a>
													<div class="dropdown-divider"></div>
													<a class="dropdown-item" href="#">Something else here</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		<!-- home Page Content -->
	</main>
<!-- End of Page Wrapper -->